@import './bulma-custom.scss';
@import './App.scss';
@import './dark-theme.scss';
@import './light-theme.scss';
//@import './Responsive.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  
  * {
    font-family: 'Rubik';
  }
}

html {
  background: inherit !important;
}

.ucfirst {
  text-transform: capitalize;
}

.vendor-trezor,
.vendor-ledger {
  background: #fff;
  padding: 10px 15px;
  border-radius: 4px;
}

.hw-graphic {
  background: #fff;
  padding: 20px 30px;
  border-radius: 4px;
}

.text-center {
  text-align: center !important;
}

.theme-selector {
  .item {
    position: relative;
    top: 2px;
    border: solid 1px transparent;
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;

    &.black {
      background: #000;
    }
    &.light {
      background: #cacaca;
    }
    &:hover {
      border: solid 1px #fff;
    }
    &.active {
      border: solid 1px rgba(255, 255, 255, 0.7);
      cursor: default;
    }
    &.light.active {
      border: solid 1px rgba(168, 168, 168, 0.822);
    }
  }
}